WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/BBjTapiClient.csproj.FileListAbsolute.txt
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/BBjTapiClient.csproj.CoreCompileInputs.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/BBjTapiClient.csproj.CopyComplete
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/BBjTapiClient.Properties.Resources.resources
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/BBjTAPIClient_MarkupCompile.lref
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/BBjTAPIClient_MarkupCompile.cache
WindowsDotNet/BBjTapiClient/atapi/obj/x86/Debug %25252528x64%25252529/Atapi.csprojAssemblyReference.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/pages/extras.g.i.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/pages/extras.g.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/pages/extras.baml
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/pages/binding.g.i.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/pages/binding.g.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/pages/binding.baml
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/StyleDictionary.baml
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/MainWindow.g.i.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/MainWindow.g.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/MainWindow.baml
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/F13243757CF6F252D719226C6A14A5A16CA22C41.costura.atapi.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/EE42A33D152F01109E9AA6875E9B2A106160AA64.costura.atapi.pdb.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/B55079E4E269D39ED452CD47E199CDFDADE6D7BB.costura.atapi.pdb.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTAPIClient_MarkupCompile.i.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTAPIClient_MarkupCompile.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTAPIClient.pdb
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTAPIClient.g.resources
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTAPIClient.exe
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/App.g.i.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/App.g.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/pages/extras.g.i.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/pages/extras.g.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/pages/extras.baml
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/pages/binding.g.i.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/pages/binding.g.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/pages/binding.baml
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/StyleDictionary.baml
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/MainWindow.g.i.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/MainWindow.g.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/MainWindow.baml
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/Costura/FF0EDDF0E6EF75A228D7475C0FA3486FCFB9294D.costura.atapi.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/Costura/B50D3DF27A15A70C812E5F000D315BDA9D47E675.costura.atapi.pdb.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/Costura/50456168A82C93DE2CFD3CE75F1406D56F89540B.costura.costura.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/BBjTapiClient.csprojAssemblyReference.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/BBjTapiClient.csproj.GenerateResource.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/BBjTapiClient.csproj.Fody.CopyLocal.cache
WindowsDotNet/BBjTapiClient/atapi/obj/x86/Release (x64)/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
WindowsDotNet/BBjTapiClient/atapi/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindowsDotNet/BBjTapiClient/atapi/obj/x86/Debug/Atapi.csprojAssemblyReference.cache
WindowsDotNet/BBjTapiClient/atapi/obj/x86/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
WindowsDotNet/BBjTapiClient/atapi/obj/x86/Debug (x64)/Atapi.pdb
WindowsDotNet/BBjTapiClient/atapi/obj/x86/Debug (x64)/Atapi.dll
WindowsDotNet/BBjTapiClient/atapi/obj/x86/Debug (x64)/Atapi.csproj.FileListAbsolute.txt
WindowsDotNet/BBjTapiClient/atapi/obj/x86/Debug (x64)/Atapi.csproj.CoreCompileInputs.cache
WindowsDotNet/BBjTapiClient/atapi/obj/x86/Debug (x64)/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
WindowsDotNet/BBjTapiClient/atapi/obj/x86/Debug %25252528x64%25252529/DesignTimeResolveAssemblyReferencesInput.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/B542E5BD954733D32553E16D5505D5C26721D6AF.costura.atapi.pdb.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/AA2E2B65C2BE97468CB42EF38BFA30625015542C.costura.atapi.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/9BFDF4C79AB5B438468DC49A9733524F5CB71E09.costura.atapi.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/991C6533103EFA161769799D2EED7804A48DA7E4.costura.atapi.pdb.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/920DC1E34E7F64B5AB3997079263A6094CA2EE0F.costura.atapi.pdb.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/8CD26BD4B8A68D82A65F55FE2FD415086CF408E6.costura.atapi.pdb.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/89762A3B31524B374584C5E49349049F751F3F71.costura.atapi.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/8645B4ECC96AF50DB81186BD1C1986BED2E4BEE2.costura.atapi.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/81316CBAFFC1C97F0B041AA621C13D5CCB2A5D2C.costura.atapi.pdb.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/6456B7D51D42D6C34DA4E968367CE3DE64D4E0AD.costura.atapi.pdb.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/53B1C37F5A7C4DA6490D7C084E0641505B2E3990.costura.atapi.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/50456168A82C93DE2CFD3CE75F1406D56F89540B.costura.costura.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/4B902158CC2C682F71304268BD277FE95BEB65CB.costura.atapi.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/40193D11705578032D482B96B309402EB74ACAB7.costura.atapi.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/3212F3C7B33DC166347A34460F63FCEB12A69B92.costura.atapi.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/29DEC49529C07E70DD624F6CBCE1DAF948190507.costura.atapi.pdb.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/1A97730EFFEAFF0E47F7B97BCAFD6312241074F4.costura.atapi.dll.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/Costura/07860258828B76AB379E4944034F69FAE6493DB8.costura.atapi.pdb.compressed
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTapiClient.csprojAssemblyReference.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTapiClient.csproj.GenerateResource.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTapiClient.csproj.Fody.CopyLocal.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTapiClient.csproj.FileListAbsolute.txt
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTapiClient.csproj.CoreCompileInputs.cache
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTapiClient.csproj.CopyComplete
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTapiClient.Properties.Resources.resources
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Release/BBjTAPIClient_MarkupCompile.lref
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/BBjTAPIClient.exe
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/App.g.i.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/App.g.cs
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/BBjTAPIClient.pdb
WindowsDotNet/BBjTapiClient/BBjTapiClient/obj/Debug/BBjTAPIClient.g.resources
WindowsDotNet/BBjTapiClient/atapi/obj/x86/Release (x64)/Atapi.csprojAssemblyReference.cache
